In [1]:
from app.datadownloader.loader import download_data
from app.prophetmodel.model import forecast

import matplotlib.pyplot as plt
import streamlit as st
import pandas as pd

/Users/fedorkurusin/Documents/hes/stock-analysis/venv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.

In [2]:
# Set Streamlit app title and description
# st.title('Time Series Forecasting App')
# st.write('My Forecast Data.')

ticker = "SBER"  # задаём тикер
period = 7
start = "01.01.2017"
end = "31.12.2017"

df = download_data(ticker, period, start, end)
df = df[['<DATE>', '<CLOSE>']]
df.columns = ['ds', 'y']

forecast_data = forecast(df, 20)

2023-12-27 13:45:11.090 | INFO     | app.datadownloader.loader:download_data:14 - ticker=SBER; period=7; start=01.01.2017; end=31.12.2017
2023-12-27 13:45:11.092 | INFO     | app.datadownloader.loader:download_data:67 - Стучимся на Финам по ссылке: http://export.finam.ru/SBER_20170101_20171231.csv?market=0&em=3&code=SBER&apply=0&df=1&mf=0&yf=2017&from=2017-01-01&dt=31&mt=11&yt=2017&to=2017-12-31&p=7&f=SBER_20170101_20171231&e=.csv&cn=SBER&dtf=1&tmf=1&MSOR=0&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1
13:45:15 - cmdstanpy - INFO - Chain [1] start processing
13:45:15 - cmdstanpy - INFO - Chain [1] done processing

In [ ]:
# Python
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

In [4]:
forecast_data

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2017-01-03,173.758281,168.438853,179.340447,173.758281,173.758281,-0.037224,-0.037224,-0.037224,-0.037224,-0.037224,-0.037224,0.0,0.0,0.0,173.721057
1,2017-01-04,173.340904,167.734989,178.748229,173.340904,173.340904,0.009918,0.009918,0.009918,0.009918,0.009918,0.009918,0.0,0.0,0.0,173.350822
2,2017-01-05,172.923526,166.963818,178.431789,172.923526,172.923526,-0.378465,-0.378465,-0.378465,-0.378465,-0.378465,-0.378465,0.0,0.0,0.0,172.545061
3,2017-01-06,172.506149,166.199010,177.521119,172.506149,172.506149,-0.365164,-0.365164,-0.365164,-0.365164,-0.365164,-0.365164,0.0,0.0,0.0,172.140985
4,2017-01-09,171.254017,165.584353,176.987048,171.254017,171.254017,-0.165528,-0.165528,-0.165528,-0.165528,-0.165528,-0.165528,0.0,0.0,0.0,171.088489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,2018-01-14,242.125804,235.803655,249.314649,239.049124,245.200448,0.468230,0.468230,0.468230,0.468230,0.468230,0.468230,0.0,0.0,0.0,242.594034
268,2018-01-15,242.630325,235.993501,249.322589,239.108292,245.962771,-0.165528,-0.165528,-0.165528,-0.165528,-0.165528,-0.165528,0.0,0.0,0.0,242.464797
269,2018-01-16,243.134847,235.845964,250.434751,239.123859,246.881722,-0.037224,-0.037224,-0.037224,-0.037224,-0.037224,-0.037224,0.0,0.0,0.0,243.097623
270,2018-01-17,243.639369,236.607723,251.171946,239.280056,247.834453,0.009918,0.009918,0.009918,0.009918,0.009918,0.009918,0.0,0.0,0.0,243.649287
271,2018-01-18,244.143890,236.235270,251.851326,239.355326,248.752700,-0.378465,-0.378465,-0.378465,-0.378465,-0.378465,-0.378465,0.0,0.0,0.0,243.765425

In [3]:
df

            ds            y
0     20170103  175.5500000
1     20170103  175.4100000
2     20170103  178.1600000
3     20170103  178.6900000
4     20170103  178.5900000
...        ...          ...
2263  20171229  225.6800000
2264  20171229  225.4500000
2265  20171229  225.5200000
2266  20171229  225.9300000
2267  20171229  225.2000000

[2268 rows x 2 columns]

In [6]:
fig, ax = plt.subplots()
ax.plot(df.ds, df.y)
ax.plot([str(t) for t in forecast_data.ds], forecast_data.yhat)

plt.show()
# st.pyplot(plt.gcf())  # instead of plt.show()
# st.pyplot(fig)
#
# st.line_chart(chart_data)
#
# # st.line_chart(df[['ds', 'y']])
# # st.line_chart(chart_data[['ds', 'yhat']])